apiVersion: v1
kind: Secret
metadata:
  namespace: crossplane-system
  name: metakube-provider-secret
type: Opaque
data:
  token: dmVyeXNlY3JldDEy
---
apiVersion: metakube.crossplane.io/v1alpha1
kind: ProviderConfig
metadata:
  namespace: crossplane-system
  name: metakube-example
spec:
  apiBase: "/api/v1"
  apiHost: "metakube.syseleven.de"
  token:
    source: Secret
    secretRef:
      namespace: crossplane-system
      name: metakube-provider-secret
      key: token
